@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

p{
    margin: 0;
}

input,label{
    font-family: "Poppins", sans-serif;
}

.calculator {
    width: 100vw;
    min-height: 100vh;
    background-color:var(--off-white);
    padding: 2rem;
}


.container {
    padding: 5rem 2rem;
    padding-bottom:2rem;
    margin-inline: auto;
    background-color: var(--white);
    width: 70%;
    max-width: 650px;
    min-width: 470px;
    border-radius: 4rem;
    border-bottom-right-radius: 10rem;
    position: relative;
}

.user-input {
   max-width: 100%;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    
}

.user-input label {
    display: inline-block;
    margin-bottom: .5rem;
    color: var(--smokey-grey);

}

.user-input input {
    width: 100%;
    padding-block: .35rem;
    padding-left: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 2px solid var(--light-grey);
    font-weight: 700;
    font-size: 1.2rem;
}

.user-input input:focus{
    outline: none;
    border-color: var(--purple);
}

.user-input-btn{
    position: absolute;
    right: 0;
    top: 12.5rem;
    width: 66px;
    height: 66px;
    background-color: hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s;
    transition: background-color 0.4s;
    scale: 1;
}

.user-input-btn::after{
    content: "";
    background-image: url(assets/images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 55%;
    height: 55%;
}

.output-section{
    display: flex;
    flex-direction: column;
    font-size: clamp(2.7rem,9vw,4rem);
    font-weight: 900;
    font-style: italic;
}

.output-section span{
    color: var(--purple);
    margin-right: 1rem;
}

.text-error{
    font-size: 0.6rem;
    color: var(--light-red);
    font-weight: 400;
    font-style: italic;
    opacity: 0;
}

.error .text-error{
    opacity: 1;
}

.error input{
    border-color: var(--light-red);
}

.error input:focus{
    border-color: var(--light-red);
}

@media (max-width:630px){
    .container{
        width: 100%;
        min-width: 300px;
        padding: 3rem 1rem
    }

    .user-input{
        grid-template-columns: repeat(3,1fr);
    }

    .user-input-btn{
        right: 41%;
        top: 10.5rem;
    }
}